popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.7);
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	@include transition(opacity, 0.15s);
	.popup-wrap {
		display: table;
		vertical-align: middle;
		width: 100%;
		height: 100%;
		.popup-box {
			display: table-cell;
			vertical-align: middle;
			.popup-body {
				width: 750px;
				padding: 25px 50px;
				margin: auto;
			}
			.popup-header {
				@include clearfix;
				.title {
					float: left;
					color: #fff;
					font-size: 18px;
					line-height: 46px;
				}
				.close {
					float: right;
					cursor: pointer;
					.icon {
						width: 25px;
						line-height: 46px;
						svg {
							fill: #dc1f26;
						}
					}
				}
			}
			.popup-content {
				position: relative;
				.img-box {
					overflow: hidden;
					ul {
						@include transition(transform, 0.5s);
						@include clearfix;
						li {
							float: left;
							width: 100%;
						}
					}
					img {
						display: block;
						max-width: 100%;
						margin: 0 auto;
						box-shadow: 0 0 5px rgba(0,0,0,0.3);
					}
				}
				.arrow {
					position: absolute;
					top: 0;
					bottom: 0;
					cursor: pointer;
					.icon {
						@include center-vertical();
					}
					svg {
						width: 13px;
						fill: none;
						stroke-width: 6px;
						stroke: #fff;
						vertical-align: middle;
					}
					&.left {
						right: 50%;
						left: -45px;
						.icon {
							left: 15px;
						}
					}
					&.right {
						left: 50%;
						right: -45px;
						.icon {
							right: 15px;
						}
					}
				}
			}
		}
	}
	&.active {
		visibility: visible;
		opacity: 1;
	}
}