<section class="content-box">
	<div class="container">
		<div class="content-box">
			<aside></aside>
			<div class="content">
				<div class="breadcrumbs">
					<a routerLink="/">Головна</a>
					>
					<a routerLink="/gallery">Галерея</a>
					>
					Наші роботи
				</div>
				<h1>Наші роботи</h1>
				<div class="album-gallery">
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/1.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/2.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/3.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/4.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/5.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/6.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/7.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/8.jpg" alt="">
						</div>
					</div>
				</div>
				<a href="#" class="back-link">Повернутися назад</a>
			</div>
		</div>
		<div class="logos">
			<div class="arrow left"></div>
			<div class="logo-box">
				<ul>
					<li><img src="/img/logo/1.png" alt=""></li>
					<li><img src="/img/logo/2.png" alt=""></li>
					<li><img src="/img/logo/3.png" alt=""></li>
					<li><img src="/img/logo/4.png" alt=""></li>
					<li><img src="/img/logo/5.png" alt=""></li>
					<li><img src="/img/logo/6.png" alt=""></li>
				</ul>
			</div>
			<div class="arrow right"></div>
		</div>
	</div>
</section>