<section class="content-box">
	<div class="container">
		<div class="content-box">
			<aside></aside>
			<div class="content">
				<div class="breadcrumbs">
					<a routerLink="/">Головна</a>
					>
					<a routerLink="/gallery">Галерея</a>
					>
					Наші роботи
				</div>
				<h1>Наші роботи</h1>
				<div class="album-gallery">
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/1.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/2.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/3.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/4.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/5.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/6.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/7.jpg" alt="">
						</div>
					</div>
					<div class="photo">
						<div class="thumbnail">
							<img src="/img/album/8.jpg" alt="">
						</div>
					</div>
				</div>
				<a href="#" class="back-link">Повернутися назад</a>
			</div>
		</div>
		<?php get_sidebar( 'logos' ); ?>
	</div>
</section>