<section class="content-box">
	<div class="container">
		<div class="content-box">
			<aside></aside>
			<div class="content">
				<div class="breadcrumbs">
					<a routerLink="/">Головна</a>
					>
					<a routerLink="/catalog">Керамічна черепиця</a>
					> Jacobi
				</div>
				<div class="catalog">
					<div class="manufacturer">
						<div class="manufacturer-description">
							<div class="logo">
								<img src="/img/roben.jpg" alt="">
							</div>
							<div class="info">
								<span class="name">Roben</span>
								<div class="country">
									Країна-виробник: 
									<strong>Польща</strong>
								</div>
								<div class="product-length">
									Всього позицій:
									<span>40</span>
								</div>
							</div>
						</div>
						<div class="manufacturer-text">
							Натуральною називається черепиця, що виробляється з гончарної глини, із додаванням спеціальних елементів, що полегшують подальший процес формування черепків. Далі заготовки піддають випалу...
							<a href="#">>></a>
						</div>
						<div class="products">
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/1.jpg" alt="">
									</div>
									<div class="name">Sorell NF 71</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/2.jpg" alt="">
									</div>
									<div class="name">Brisbane NF 22</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/3.jpg" alt="">
									</div>
									<div class="name">Ross NF 79</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/4.jpg" alt="">
									</div>
									<div class="name">Trentino NF 12</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/5.jpg" alt="">
									</div>
									<div class="name">Sorell NF 71</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/6.jpg" alt="">
									</div>
									<div class="name">Brisbane NC 87</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/7.jpg" alt="">
									</div>
									<div class="name">Ross NF 79</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/8.jpg" alt="">
									</div>
									<div class="name">Trentino NF 12</div>
								</div>
							</div>
						</div>
						<div class="manufacturer-downloads">
							<h2>Файли для завантаження:</h2>
							<div class="file">
								<i class="icon"></i>
								<div class="details">
									<div class="title">Інструкція з укладання</div>
									<a href="#">Завантажити</a>
								</div>
							</div>
							<div class="file">
								<i class="icon"></i>
								<div class="details">
									<div class="title">Сертифікат якості</div>
									<a href="#">Завантажити</a>
								</div>
							</div>
							<div class="file">
								<i class="icon"></i>
								<div class="details">
									<div class="title">Сертифікат відповідності</div>
									<a href="#">Завантажити</a>
								</div>
							</div>
							<div class="file">
								<i class="icon"></i>
								<div class="details">
									<div class="title">Інструкція з обслуговування</div>
									<a href="#">Завантажити</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="logos">
			<div class="arrow left"></div>
			<div class="logo-box">
				<ul>
					<li><img src="/img/logo/1.png" alt=""></li>
					<li><img src="/img/logo/2.png" alt=""></li>
					<li><img src="/img/logo/3.png" alt=""></li>
					<li><img src="/img/logo/4.png" alt=""></li>
					<li><img src="/img/logo/5.png" alt=""></li>
					<li><img src="/img/logo/6.png" alt=""></li>
				</ul>
			</div>
			<div class="arrow right"></div>
		</div>
	</div>
</section>