<section class="content-box">
	<div class="container">
		<div class="content-box">
			<aside></aside>
			<div class="content">
				<div class="catalog">
					<div class="category">
						<div class="cat-img">
							<img src="/img/category.jpg" alt="">
						</div>
						<div class="cat-description">
							<h1>Керамічна черепиця</h1>
							<p>Натуральною називається черепиця, що виробляється з гончарної глини, із додаванням спеціальних елементів, що полегшують подальший процес формування черепків. Далі заготовки піддають випалу. Зазвичай, після цього процесу, керамічна черепиця має насичений червоно-коричневий колір, який темніє і покривається природною платиною.</p>
							<a href="#" class="more">Детальніше</a>
						</div>
					</div>
					<div class="manufacturer">
						<div class="manufacturer-description">
							<div class="logo">
								<a routerLink="/brand">
									<img src="/img/roben.jpg" alt="">
								</a>
							</div>
							<div class="info">
								<a routerLink="/brand" class="name">Roben</a>
								<div class="country">
									Країна-виробник: 
									<strong>Польща</strong>
								</div>
								<div class="product-length">
									Всього позицій:
									<a href="#">40</a>
								</div>
							</div>
						</div>
						<div class="manufacturer-text">
							Натуральною називається черепиця, що виробляється з гончарної глини, із додаванням спеціальних елементів, що полегшують подальший процес формування черепків. Далі заготовки піддають випалу...
							<a routerLink="/brand">>></a>
						</div>
						<div class="products">
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/1.jpg" alt="">
									</div>
									<div class="name">Sorell NF 71</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/2.jpg" alt="">
									</div>
									<div class="name">Brisbane NF 22</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/3.jpg" alt="">
									</div>
									<div class="name">Ross NF 79</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/4.jpg" alt="">
									</div>
									<div class="name">Trentino NF 12</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/5.jpg" alt="">
									</div>
									<div class="name">Sorell NF 71</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/6.jpg" alt="">
									</div>
									<div class="name">Brisbane NC 87</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/7.jpg" alt="">
									</div>
									<div class="name">Ross NF 79</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/8.jpg" alt="">
									</div>
									<div class="name">Trentino NF 12</div>
								</div>
							</div>
							<div class="pagination">
								<a href="#" class="disabled">1</a>
								<a href="#">2</a>
								<span>...</span>
								<a href="#">5</a>
							</div>
						</div>
					</div>
					<div class="manufacturer">
						<div class="manufacturer-description">
							<div class="logo">
								<a routerLink="/brand">
									<img src="/img/roben.jpg" alt="">
								</a>
							</div>
							<div class="info">
								<a routerLink="/brand" class="name">Roben</a>
								<div class="country">
									Країна-виробник: 
									<strong>Польща</strong>
								</div>
								<div class="product-length">
									Всього позицій:
									<a routerLink="/brand">40</a>
								</div>
							</div>
						</div>
						<div class="manufacturer-text">
							Натуральною називається черепиця, що виробляється з гончарної глини, із додаванням спеціальних елементів, що полегшують подальший процес формування черепків. Далі заготовки піддають випалу...
							<a href="#">>></a>
						</div>
						<div class="products">
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/1.jpg" alt="">
									</div>
									<div class="name">Sorell NF 71</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/2.jpg" alt="">
									</div>
									<div class="name">Brisbane NF 22</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/3.jpg" alt="">
									</div>
									<div class="name">Ross NF 79</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/4.jpg" alt="">
									</div>
									<div class="name">Trentino NF 12</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/5.jpg" alt="">
									</div>
									<div class="name">Sorell NF 71</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/6.jpg" alt="">
									</div>
									<div class="name">Brisbane NC 87</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/7.jpg" alt="">
									</div>
									<div class="name">Ross NF 79</div>
								</div>
							</div>
							<div routerLink="/product" class="product-wrap">
								<div class="product">
									<div class="img">
										<img src="/img/products/8.jpg" alt="">
									</div>
									<div class="name">Trentino NF 12</div>
								</div>
							</div>
							<div class="pagination">
								<a href="#" class="disabled">1</a>
								<a href="#">2</a>
								<span>...</span>
								<a href="#">5</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="logos">
			<div class="arrow left"></div>
			<div class="logo-box">
				<ul>
					<li><img src="/img/logo/1.png" alt=""></li>
					<li><img src="/img/logo/2.png" alt=""></li>
					<li><img src="/img/logo/3.png" alt=""></li>
					<li><img src="/img/logo/4.png" alt=""></li>
					<li><img src="/img/logo/5.png" alt=""></li>
					<li><img src="/img/logo/6.png" alt=""></li>
				</ul>
			</div>
			<div class="arrow right"></div>
		</div>
	</div>
</section>