<div class="footer-box">
	<div class="container">
		<div class="products">
			<h4>Продукція</h4>
			<ul>
				<li><a routerLink="/catalog">Керамічна черепиця</a></li>
				<li><a routerLink="/catalog">Фальцеві дахи</a></li>
				<li><a routerLink="/catalog">Водостічні системи</a></li>
				<li><a routerLink="/catalog">Мансардні вікна</a></li>
				<li><a routerLink="/catalog">Аксесуари для даху</a></li>
				<li><a routerLink="/catalog">Клінкер</a></li>
			</ul>
		</div>
		<div class="menu">
			<h4>Меню</h4>
			<ul>
				<li><a routerLink="/gallery">Галерея</a></li>
				<li><a routerLink="/news">Новини</a></li>
				<li><a routerLink="/news">Статті</a></li>
				<li><a routerLink="/page">Для партнерів</a></li>
				<li><a routerLink="/page">Послуги</a></li>
				<li><a routerLink="/contact">Контакти</a></li>
			</ul>
		</div>
		<div class="address">
			<h4>ТзОВ «Оазис Дах»</h4>
			<p>Україна, с.Зимна Вода, 81110, вул. Тичини, 2А (навпроти «Епіцентру»)</p>
			<p class="copyright">ТзОВ «Оазис Дах» © Всі права захищено</p>
		</div>
	</div>
	<div class="stripe"></div>
</div>
<div class="developed">
	<div class="container">Розробка сайту: <a href="https://flowww.com.ua" target="_blank">Flowww</a></div>
</div>