<section class="content-box">
	<div class="container">
		<div class="content-box">
			<aside></aside>
			<div class="content">
				<div class="gallery">
					<div routerLink="/album" class="album">
						<div class="thumbnail">
							<img src="/img/gallery/1.jpg" alt="">
							<div class="heading">Наші роботи</div>
						</div>
					</div>
					<div routerLink="/album" class="album">
						<div class="thumbnail">
							<img src="/img/gallery/2.jpg" alt="">
							<div class="heading">Наша команда</div>
						</div>
					</div>
					<div routerLink="/album" class="album">
						<div class="thumbnail">
							<img src="/img/gallery/3.jpg" alt="">
							<div class="heading">Наші відрядження</div>
						</div>
					</div>
					<div routerLink="/album" class="album">
						<div class="thumbnail">
							<img src="/img/gallery/4.jpg" alt="">
							<div class="heading">Наші роботи (мансардні вікна)</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="logos">
			<div class="arrow left"></div>
			<div class="logo-box">
				<ul>
					<li><img src="/img/logo/1.png" alt=""></li>
					<li><img src="/img/logo/2.png" alt=""></li>
					<li><img src="/img/logo/3.png" alt=""></li>
					<li><img src="/img/logo/4.png" alt=""></li>
					<li><img src="/img/logo/5.png" alt=""></li>
					<li><img src="/img/logo/6.png" alt=""></li>
				</ul>
			</div>
			<div class="arrow right"></div>
		</div>
	</div>
</section>