<div class="header-box">
	<div class="container">
		<a routerLink="/" class="logo"></a>
		<div class="details">
			<div class="moto">Продаж та монтаж елітних покрівельних матеріалів</div>
			<div class="address">Україна, с. Зимна Вода, 81110, вул. Тичини, 2А (навпроти «Епіцентру»)</div>
		</div>
		<div class="phones">
			<div class="phone">+38 (067) 31 31 548</div>
			<div class="phone">+38 (067) 67 29 827</div>
			<div class="shedule">Пн-Пт з 09:00 до 17:00</div>
		</div>
	</div>
</div>
<div class="menu-box">
	<div class="container">
		<div class="menu">
			<ul>
				<li *ngFor="let item of menu">
					<a [routerLink]="['/page', item.post_name]">{{item.title}}</a>
				</li>
			</ul>
		</div>
		<div class="social-langs">
			<div class="social">
				<div class="g"></div>
				<div class="fb"></div>
			</div>
			<div class="langs">
				<div class="lang">РУ</div>
				<div class="lang active">УКР</div>
			</div>
		</div>
	</div>
</div>