aside {
	float: left;
	width: 33.333%;
	padding-right: 15px;
	>.menu {
		padding: 40px 30px 30px;
		box-shadow: 0 0 5px rgba(0,0,0,0.15);
		h4 {
			font: $PTSansbold;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 24px;
			color: #dc1f26;
			margin-bottom: 20px;
			span {
				display: inline-block;
				position: relative;
				&:after {
					content: '';
					display: inline-block;
					border-top: 1px solid #d91f24;
					width: 220px;
					height: 8px;
					margin-left: 15px;
				}
			}
		}
		ul.menu {
			>li {
				padding: 15px 5px;
				border-bottom: 1px solid #dad4d4;
				@include transition($property: padding-left);
				a {
					font: $PTSansbold;
					font-size: 18px;
					line-height: 20px;
					text-decoration: none;
					color: #191917;
					@include transition($property: color);
				}
				&:last-child {
					border: none;
				}
				&.current-menu-item, &.current-menu-parent {
					padding-left: 25px;
					>a {
						color: #dc1f26;
					}
					ul.sub-menu {
						display: block;
					}
				}
				ul.sub-menu {
					display: none;
					margin-top: 15px;
					padding-left: 35px;
					li {
						a {
							font: $PTSans;
							color: #4f4f4d;
							font-size: 16px;
							line-height: 27px;
							border-bottom: 1px solid transparent;
							@include transition($property: border-color);
							&:hover {
								border-color: #4f4f4d;
							}
						}
						&.current-menu-item, &.current-menu-parent {
							a {
								color: #191917;
								border-color: #4f4f4d;
							}
						}
					}
				}
			}
		}
	}
}