aside {
	float: left;
	width: 33.333%;
	padding-right: 15px;
	>.menu {
		padding: 40px 30px 30px;
		box-shadow: 0 0 5px rgba(0,0,0,0.15);
		h4 {
			font: $PTSansbold;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 24px;
			color: #dc1f26;
			margin-bottom: 20px;
			span {
				display: inline-block;
				position: relative;
				&:after {
					content: '';
					display: inline-block;
					border-top: 1px solid #d91f24;
					width: 220px;
					height: 8px;
					margin-left: 15px;
				}
			}
		}
		ul.menu {
			>li {
				padding: 15px 5px;
				border-bottom: 1px solid #dad4d4;
				@include transition($property: padding-left);
				a {
					font: $PTSansbold;
					font-size: 18px;
					line-height: 20px;
					text-decoration: none;
					color: #191917;
					@include transition($property: color);
				}
				&:last-child {
					border: none;
				}
				&.current-menu-item, &.current-menu-parent {
					>a {
						color: #dc1f26;
						padding-left: 25px;
						background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30.72 61.41"><defs><style>.cls-1{fill:#d91f24;}</style></defs><title>Asset 3</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_3" data-name="Layer 3"><polygon class="cls-1" points="0.03 0 30.72 30.69 0 61.41 15.36 30.72 0.03 0"/></g></g></svg>') left top/10px no-repeat;
					}
					ul.sub-menu {
						display: block;
					}
				}
				ul.sub-menu {
					display: none;
					margin-top: 15px;
					padding-left: 35px;
					li {
						a {
							font: $PTSans;
							color: #4f4f4d;
							font-size: 16px;
							line-height: 27px;
							border-bottom: 1px solid transparent;
							@include transition($property: border-color);
							&:hover {
								border-color: #4f4f4d;
							}
						}
						&.current-menu-item, &.current-menu-parent {
							a {
								color: #191917;
								border-color: #4f4f4d;
							}
						}
					}
				}
			}
		}
	}
	.mobile-dropdown {
		display: none;
	}
	.last-news {
		margin-top: 25px;
		padding: 40px 30px;
		border: 1px solid #f2f2f2;
		h4 {
			font: $PTSansbold;
			text-transform: uppercase;
			font-size: 24px;
			line-height: 24px;
			color: #dc1f26;
			margin-bottom: 20px;
			span {
				display: inline-block;
				position: relative;
				&:after {
					content: '';
					display: inline-block;
					border-top: 1px solid #d91f24;
					width: 100px;
					height: 8px;
					margin-left: 15px;
				}
			}
		}
		.thumbnail {
			margin: 0 -30px;
			img {
				width: 100%;
			}
		}
		.post-title {
			margin-top: 20px;
			a {
				font: $PTSansbold;
				font-size: 18px;
				line-height: 22px;
				text-decoration: none;
				color: #191917;
			}
		}
		.post-details {
			color: #7f92bf;
			margin-bottom: 15px;
			@include clearfix;
			.date {
				float: left;
				padding-right: 10px;
				line-height: 20px;
			}
			.comments {
				float: right;
				padding-left: 10px;
				a {
					line-height: 20px;
					color: #7f92bf;
					text-decoration: none;
				}
			}
		}
		.link {
			font: $PTSanitalic;
			color: #303ec1;
			line-height: 22px;
			padding-right: 20px;
			background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 81 64.7"><path fill="#303ec1" d="M175.75,6.84H97.24a1.24,1.24,0,1,1,0-2.49h78.51a1.24,1.24,0,1,1,0,2.49Z" transform="translate(-96 26.75)"/><path fill="#303ec1" d="M144.64,38a1.27,1.27,0,0,1-.88-.36,1.23,1.23,0,0,1,0-1.75L174,5.6,143.76-24.64a1.23,1.23,0,0,1,0-1.75,1.23,1.23,0,0,1,1.75,0l31.11,31.1a1.25,1.25,0,0,1,0,1.75L145.51,37.57A1.21,1.21,0,0,1,144.64,38Z" transform="translate(-96 26.75)"/></svg>')  right 5px/14px no-repeat;
		}
	}
}