.contacts {
	h1 {
		font-size: 26px;
		color: #191917;
		margin-bottom: 20px;
	}
	.adress {
		margin-bottom: 20px;
		p {
			margin: 0;
		}
	}
	.staff {
		@include clearfix;
		margin: 0 -15px 40px;
		.contact {
			width: 50%;
			float: left;
			padding: 20px 15px;
			.img-box {
				width: 25%;
				height: 68px;
				float: left;
				position: relative;
				overflow: hidden;
				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: -100px;
					right: -100px;
					max-width: 120%;
					min-height: 100%;
					margin: 0 auto;
				}
			}
			.contact-details {
				width: 75%;
				float: left;
				padding-left: 10px;
				.name {
					font: $PTSansbold;
					font-size: 16px;
					line-height: 22px;
					color: #dc1f26;
				}
				.details {
					p {
						margin: 0;
					}
				}
			}
		}
		.email {
			width: 50%;
			float: left;
			padding: 20px 15px;
			.icon {
				width: 25%;
				float: left;
				padding: 34px 0;
				background:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#fff" viewBox="0 0 31.01 22.05"><path d="M25.11,17a.5.5,0,0,1-.34-.14L19,11.49a.5.5,0,1,1,.69-.73l5.75,5.4a.5.5,0,0,1-.34.86Z"/><path d="M5.9,17a.5.5,0,0,1-.34-.86l5.76-5.4a.5.5,0,1,1,.68.73l-5.76,5.4A.5.5,0,0,1,5.9,17Z"/><path d="M28.51,22H2.5A2.5,2.5,0,0,1,0,19.55V2.5A2.5,2.5,0,0,1,2.5,0h26A2.5,2.5,0,0,1,31,2.5v17A2.5,2.5,0,0,1,28.51,22ZM2.5,1A1.5,1.5,0,0,0,1,2.5v17A1.5,1.5,0,0,0,2.5,21h26a1.5,1.5,0,0,0,1.5-1.5V2.5A1.5,1.5,0,0,0,28.51,1Z"/><path d="M15.51,13.54a2.8,2.8,0,0,1-1.84-.66L.83,1.67A.5.5,0,1,1,1.49.92l12.84,11.2a1.87,1.87,0,0,0,2.36,0L29.51.94a.5.5,0,1,1,.66.75L17.34,12.87A2.79,2.79,0,0,1,15.51,13.54Z"/></svg>') center/46px no-repeat, #dad4d4;
			}
			.contact-details {
				width: 75%;
				float: left;
				padding: 12px 0 0 10px;
				.title {
					font: $PTSansbold;
					font-size: 16px;
					line-height: 22px;
					color: #191917;
				}
				.details {
					p {
						margin: 0;
					}
				}
			}
		}
	}
}
.contact-form {
	border-top: 1px solid #dad4d4;
	padding-top: 40px;
	h2 {
		font-size: 26px;
		color: #191917;
		margin-bottom: 20px;
	}
	.hint {
		color: #696565;
		line-height: 22px;
		margin-bottom: 10px;
	}
	form.contact {
		background-color: #f9f9f9;
		padding: 20px;
		.inputs {
			@include clearfix;
			.input-form {
				width: 50%;
				float: left;
				&:first-child {
					padding-right: 15px;
				}
				&:last-child {
					padding-left: 15px;
				}
			}
		}
		.input-form {
			label {
				display: block;
				font-size: 16px;
				line-height: 22px;
				margin-bottom: 5px;
				color: #353535;
			}
			textarea, input {
				width: 100%;
				padding: 5px 10px;
				font: $PTSans;
				font-size: 16px;
				line-height: 22px;
				border: 1px solid #dad4d4;
				box-sizing: border-box;
				margin-bottom: 10px;
			}
			textarea {
				height: 80px;
				resize: none;
			}
		}
		button {
			font-size: 16px;
			line-height: 34px;
			color: #fff;
			padding: 0 45px;
			border: none;
			background-color: #dc1f26;
			margin-top: 15px;
			cursor: pointer;
		}
	}
}