.banner {
	position: relative;
	border-bottom: 50px solid #353535;
	.img {
		background: url("img/banner.jpg") center no-repeat;
		height: 448px;
		box-shadow: inset 0 -1px 5px rgba(0,0,0,.15);
	}
	.cover-handler {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.cover {
		background-color: rgba(220,31,38,0.9);
		float: right;
		width: 410px;
		height: 448px;
		position: relative;
		box-sizing: border-box;
		margin-right: 40px;
		@include transform(skew(-10deg));
		.text-box {
			color: #ffffff;
			padding: 0 50px;
			@include center-vertical;
			@include transform(skew(10deg) translateY(-40%));
			h2 {
				font: $PTSansbold;
				font-size: 24px;
				line-height: 28px;
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: 1px solid #ec5156;
			}
			p {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
}
.content-box {
	margin-top: 50px;
}
.content {
	font-size: 16px;
	line-height: 22px;
	h1 {
		font: $PTSansbold;
		font-size: 22px;
		line-height: 22px;
		color: #191917;
		margin-bottom: 24px;
	}
	p {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 20px;
	}
	b {
		display: block;
		font: $PTSansbold;
		font-size: 16px;
		line-height: 22px;
	}
	img {
		margin-bottom: 20px;
	}
	strong {
		font: $PTSansbold;
		font-size: 16px;
		line-height: 22px;
	}
	h2 {
		font: $PTSansbold;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 20px;
	}
	ul {
		padding-left: 27px;
		margin-bottom: 20px;
		li {
			font-size: 16px;
			line-height: 26px;
			&:before {
				content : '';
				display: inline-block;
				width: 9px;
				height: 9px;
				margin-right: 11px;
				border-radius: 50%;
				background-color: #dad4d4;
			}
		}
	}
}
.links {
	margin-top: 40px;
	@include clearfix;
	.link-wrap {
		width: 50%;
		float: left;
		&:first-child {
			padding-right: 15px;
		}
		&:last-child {
			padding-left: 15px;
		}
		.link {
			background: #f9f9f9;
			width: 100%;
			display: block;
			text-align: center;
			vertical-align: middle;
			font-size: 18px;
			line-height: 125px;
			text-decoration: none;
			color: #353535;
		}
	}
}
.logos {
	margin: 200px 0 50px;
	width: 100%;
	@include clearfix;
	.arrow {
		width: 40px;
		height: 40px;
		background-color: #dad4d4;
		float: left;
		margin-top: 7px;
		text-align: center;
		cursor: pointer;
		.icon {
			width: 16px;
			line-height: 38px;
			svg {
				stroke-width: 6px;
				stroke: #fff;
				fill: none;
				vertical-align: middle;
			}
		}
	}
	.right {
		float: right;
	}
	.logo-box {
		float: left;
		width: 1090px;
		padding: 0 20px;
	}
	ul {
		display: table;
		width: 100%;
		li {
			display: table-cell;
			text-align: center;
		}
	}
}