.banner {
	position: relative;
	border-bottom: 50px solid #353535;
	width: 100%;
	overflow: hidden;
	ul {
		@include transition(transform, .5s, 'ease-in-out');
		@include clearfix;
		li {
			float: left;
		}
	}
	.img {
		height: 448px;
		overflow: hidden;
		position: relative;
		box-shadow: inset 0 -1px 5px rgba(0,0,0,.15);
		img {
			@include center-absolute;
		}
	}
	.cover-handler {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		.container {
			position: relative;
		}
	}
	.cover {
		background-color: rgba(220,31,38,0.9);
		float: right;
		width: 410px;
		height: 448px;
		position: relative;
		box-sizing: border-box;
		margin-right: 40px;
		@include transform(skew(-10deg));
		.text-box {
			color: #ffffff;
			padding: 0 50px;
			@include center-vertical;
			@include transform(skew(10deg) translateY(-40%));
			opacity: 1;
			@include transition(opacity, 0.25s)
			&.changing {
				opacity: 0;
			}
			h2 {
				font: $PTSansbold;
				font-size: 24px;
				line-height: 28px;
				padding-bottom: 10px;
				margin-bottom: 20px;
				border-bottom: 1px solid #ec5156;
			}
			p {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
	.arrow {
		width: 40px;
		height: 40px;
		margin-top: 7px;
		text-align: center;
		cursor: pointer;
		position: absolute;
		top: 50%;
		@include transform(translateY(-50%));
		.icon {
			width: 16px;
			line-height: 38px;
			svg {
				stroke-width: 6px;
				stroke: #fff;
				fill: none;
				vertical-align: middle;
			}
		}
		&.left {
			left: 0;
		}
		&.right {
			right: 0;
		}
	}
}
.content-box {
	margin-top: 50px;
}
.content {
	font-size: 16px;
	line-height: 22px;
	h1 {
		font: $PTSansbold;
		font-size: 22px;
		line-height: 22px;
		color: #191917;
		margin-bottom: 24px;
	}
	p {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 20px;
	}
	b {
		font: $PTSansbold;
		font-size: 16px;
		line-height: 22px;
	}
	img {
		margin-bottom: 20px;
	}
	strong {
		font: $PTSansbold;
		font-size: 16px;
		line-height: 22px;
	}
	h2 {
		font: $PTSansbold;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 20px;
	}
	ul {
		padding-left: 27px;
		margin-bottom: 20px;
		li {
			font-size: 16px;
			line-height: 26px;
			&:before {
				content : '';
				display: inline-block;
				width: 9px;
				height: 9px;
				margin-right: 11px;
				border-radius: 50%;
				background-color: #dad4d4;
			}
		}
	}
}
.links {
	margin-top: 40px;
	@include clearfix;
	.link-wrap {
		width: 50%;
		float: left;
		&:first-child {
			padding-right: 15px;
		}
		&:last-child {
			padding-left: 15px;
		}
		.link {
			background: #f9f9f9;
			width: 100%;
			display: block;
			text-align: center;
			vertical-align: middle;
			font-size: 18px;
			text-decoration: none;
			color: #353535;
			padding: 15px;
			.icon {
				max-width: 40px;
				margin-bottom: 10px;
				fill: #dc1f26;
				stroke-width: 2px;
				svg {
					max-height: 40px;
				}
				&.dealer {
					svg {
						fill: none;
						stroke: #dc1f26;
						.head {
							stroke: none;
							fill: #dc1f26;
						}
					}
				}
				&.arrow {
					max-width: 20px;
				}
			}
			span {
				display: block;
			}
		}
	}
}
.logos {
	margin: 200px 0 50px;
	width: 100%;
	@include clearfix;
	.arrow {
		width: 40px;
		height: 40px;
		background-color: #dad4d4;
		float: left;
		margin-top: 7px;
		text-align: center;
		cursor: pointer;
		.icon {
			width: 16px;
			line-height: 38px;
			svg {
				stroke-width: 6px;
				stroke: #fff;
				fill: none;
				vertical-align: middle;
			}
		}
	}
	.right {
		float: right;
	}
	.logo-box {
		float: left;
		width: calc(100% - 120px);
		margin: 0 20px;
		overflow: hidden;
	}
	ul {
		list-style: none;
		min-width: 100%;
		@include transition(transform, .5s, 'ease-in-out');
		@include clearfix;
		li {
			float: left;
			text-align: center;
			padding: 0 10px;
			line-height: 60px;
			img {
				max-width: 100%;
				vertical-align: middle;
			}
		}
	}
}