.product {
	.product-main {
		@include clearfix;
		ul {
			li {
				&:before {
					display: none;
				}
			}
		}
		.product-gallery {
			float: left;
			width: 37.5%;
			padding-right: 15px;
			.main-img {
				padding: 10px;
				border: 1px solid #f9f9f9;
				cursor: pointer;
				max-height: 245px;
				overflow: hidden;
				img {
					width: 100%;
					margin: 0;
				}
			}
			.carousel {
				margin: 10px 0;
				position: relative;
				padding: 0 15px;
				.carousel-inner {
					width: 100%;
					overflow: hidden;
				}
				.img-list {
					width: 100%;
					padding: 0;
					margin: 0;
					border-spacing: 8px;
					@include transition(transform, .5s, 'ease-in-out');
					@include clearfix;
					li {
						float: left;
						width: 25%;
						padding: 0 4px;
						.img-box {
							max-height: 50px;
							overflow: hidden;
							cursor: pointer;
							border: 1px solid #f9f9f9;
							img {
								width: 100%;
								margin: 0;
							}
						}
					}
				}
				.arrow {
					position: absolute;
					top: 50%;
					margin-top: -10px;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					cursor: pointer;			
					&.left {
						border-right: 10px solid #dad3d3;
						left: 0;
					}
					&.right {
						border-left: 10px solid #dad3d3;
						right: 0;
					}
				}
			}
		}
		.product-details {
			float: left;
			width: 62.5%;
			h1 {
				font-size: 26px;
				margin-bottom: 20px;
				line-height: 30px;
			}
			.tabs {
				border-bottom: 1px solid #dad4d4;
				margin-bottom: 30px;
				@include clearfix;
				.tab {
					float: left;
					padding: 0 20px;
					font: $PTSansbold;
					line-height: 30px;
					margin-right: 3px;
					background: #dc1f26;
					color: #fff;
					cursor: pointer;
					border: 1px solid transparent;
					border-bottom: none;
					margin-bottom: -1px;
					@include transition(all, 0.15s)
					&.active {
						border-color: #dad4d4;
						background: #fff;
						color: #dc1f26;
						cursor: default;
					}
				}
			}
			.product-specifications {
				.table {
					@include clearfix
					.labels {
						width: 40%;
						float: left;
					}
					.values {
						float: left;
						width: 60%;
						.td {
							font: $PTSansbold;
							font-size: 16px;
							line-height: 24px;
							color: #191917;
							padding: 0 10px 0 15px;
						}
					}
					.td {
						font-size: 16px;
						line-height: 24px;
						color: #4f4f4d;
						padding: 0 15px 0 10px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						&:nth-child(2n+1) {
							background-color: #f9f9f9;
						}
					}
				}
			}
		}
	}
	.product-description {
		animation: switch 0.25s ease-in-out;
	}
	.use-exmaples, .accessories {
		margin: 0 -15px 30px;
		animation: switch 0.25s ease-in-out;
		@include clearfix;
		.photo {
			width: 50%;
			float: left;
			padding: 15px;
			cursor: pointer;
			.thumbnail {
				height: 206px;
				overflow: hidden;
				@include transition();
				&:hover {
					box-shadow: 0 0 10px rgba(0,0,0,0.15);
				}
				img {
					width: 100%;
					margin: 0;
				}
			}
		}
	}
}
@keyframes switch {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}